[submodule "blackhat-asia-2024-additional"]
	path = blackhat-asia-2024-additional
	url = https://github.com/rocky/blackhat-asia-2024-additional.git
[submodule "NJPLS-2025"]
	path = NJPLS-2025
	url = git@github.com:rocky/NJPLS-2025.git
