/* Rocky's customizations */
/* I want all slide text text to be left aligned */
.reveal p {
    text-align: left;
    margin-right: 60px;
    margin-left: 60px;
}

.reveal pre {
    margin-right: 60px;
    margin-left: 60px;
}

.reveal small {
    display: block;
}

#lr {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div imageContainer {
    float: left;
}
